@import "tailwindcss";

@font-face {
  font-family : 'Helvetica Now Display';
  src: url(/fonts/HelveticaNowDisplay-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url(/fonts/HelveticaNowDisplay-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url(/fonts/HelveticaNowDisplay-ExtLt.otf) format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url(/fonts/HelveticaNowDisplay-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url(/fonts/HelveticaNowDisplay-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url(/fonts/MonumentExtended-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url(/fonts/MonumentExtended-Ultrabold.otf) format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url(/fonts/impact.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #000000;
  --foreground: #171717;
  --font-helvetica: 'Helvetica Now Display', Arial, sans-serif;
  --font-monument: 'Monument Extended', Arial, sans-serif;
  --font-impact: 'Impact Extended', Arial, sans-serif;
}

@theme {
  --color-lite-green: #CDEA68;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: var(--font-helvetica);
  overflow-x: hidden;

}

.font-helvetica {
  font-family: var(--font-helvetica);
}

.font-monument {
  font-family: var(--font-monument);
}

.font-impact {
  font-family: var(--font-impact);
}
